/* style.css */
body, .stApp {
    background-color: #000000; /* Preto Puro */
    color: #ffffff; /* Texto Branco para leitura */
}

/* Ajuste nos Cards para não "sumirem" no fundo */
.premium-card {
    background-color: #121212; /* Um cinza quase preto para dar profundidade */
    border: 1px solid #222; /* Borda sutil */
    border-radius: 15px;
    padding: 20px;
}

/* Efeito Glow nas bordas ao passar o mouse */
.premium-card:hover {
    border-color: #7B2CBF; /* Roxo Vibrante */
    box-shadow: 0 0 20px rgba(123, 44, 191, 0.3);
}
